@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: 'W3W Regular';
  src: url('/assets/fonts/W3W-Regular.woff2') format('woff2'),
    url('/assets/fonts/W3W-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'W3W Bold';
  src: url('/assets/fonts/W3W-Bold.woff2') format('woff2'),
    url('/assets/fonts/W3W-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Init */
body::-webkit-scrollbar {
  @apply w-2.5;
}

body::-webkit-scrollbar-track {
  @apply bg-[#2d2f33];
}

body::-webkit-scrollbar-thumb {
  @apply bg-[#4e525a];
  @apply rounded-full;
  @apply border-none;
}

html {
  scroll-behavior: smooth;
}

.offset-anchor {
  offset-anchor: bottom;
}

/* Utilities */
@layer utilities {
  .bg-grdients-black {
    @apply bg-gradient-to-r from-[#2D2D2D] to-[#2D2D2D];
  }
}